body {
    background-color:whitesmoke;
}

.Tabelle{
	margin:auto;
	display: table;
	padding: 2%;
    height: 45%;
	width: 90%;
    border: 2px solid black;

	
}

.Zeile{
	display: table-row;
}

.Zelle{
	display: table-cell;
	padding:2px;
}

a{
    color: black;
    text-decoration: none;
}
#start{
	margin:auto;
	border: 2px solid black;
    height: 70%;
	width: 40%;
}
#infos{
	margin:auto;
    height: auto;
	width:70%;
	background-color:white;
}

