@font-face {
	font-family: 'SRH Text Regular';
	src: url('../fonts/SRHText_Rg.ttf');
}
body {
    background-color:rgb(223, 72, 7);
}

.Tabelle{
	margin:auto;
	display: table;
	padding: 2%;
    height: auto;
	width: 300px;
    border: 2px solid rgba(255, 255, 255, 0.4);
	
	
}

.Zeile{
	display: table-row;
}

.Zelle{
	display: table-cell;
	padding: 2px;
	width: 100px;
}

.autosize {
	width: 90%;
}

a{
    color: black;
    text-decoration: none;
}
#start{
    padding-top: 3px;
	margin: auto;
	border: 2px solid rgba(255, 255, 255, 0.4);
    height: 270px;
	width: 600px;
}
#infos{
    margin: auto;
	width: 99%;
	background-color:white;
}

#gender, #job{
	width: 160px; 
	height: 20px;
}
#ausbildungsbeginn, #ausbildungsende, #geburtstag{
	width: 155px;
}

/*
 * Tested on: Google Chrome Version 107.0.5304.63 (Offizieller Build) (64-Bit)
 */

 .print {
    display: none;
  }
  
  @font-face{
      font-family: 'SRH Text Regular'; /*a name to be used later*/
      src: url('../fonts/SRHText_Rg.ttf') format('truetype'); /*URL to font*/
      font-weight: normal;
      font-style: normal;
  }
  
  .loadFont{
     
      visibility: hidden;
      position: absolute;
  }
  
  @media print {
      @page {
          size: A4 !important;
          margin: 0mm 17mm 0mm 17mm !important;
      }
      body{
          background-color: white;
          font-family: 'SRH Text Regular';
      }
  
      .kopfzeile-platz{
          height: 150px;
      }
      .fusszeile-platz{
          height: 250px;
      }
      .whitespace{
          padding: 0; 
          margin: 0; 
          display: inline-block;
      }
      .fusszeile{
          display: block;
          position: fixed;
          bottom: 42px;
          left: 0;
          width: 100%;
          padding: 0 13.3px 0 0px;
      }
      .fusszeileText{
          vertical-align: top;
          display:inline-block;
          font-size: 9px;
          font-family: inherit;
          line-height: 15px;
      }
      .fusszeileTitel{
          font-size: 9px;
          font-family: inherit;
          font-weight: bold;
          display: inline-block;
      }
      .fusszeileLogo{
          position: absolute;
          right: 89px;
          bottom: 102px;
          width: 280px;
          /*height: 1.92cm;*/
      }
      .fusszeileLogoText{
          font-family: inherit;
          background-color: white;
          position: absolute;
          font-size: 5.6px;
          line-height: 6px;
          letter-spacing: 0.4px;
          width: 94px;
      }
  
      thead {display: table-header-group;} 
      tfoot {display: table-footer-group;}
  
      h2{
          font-family: inherit;
          display: block;
          font-size: 20px;
          margin-bottom: 50px;
          font-weight: bold;
          text-align: center;
      }
      
      p, dt, dd, .datum, .ausbildungsleiter, .ausbilder{
          display: block;
          font-size: 15px !important;
          font-family: inherit;
          text-align: justify !important;
          font-weight: lighter;
          line-height: 22px;
          margin-top: 25px;
          white-space: pre-wrap;
      }
      dd{
          margin-left: 6.6px;
          margin-top: 0px;
      }
      .datum{
          margin-top: 60px;
          margin-bottom: 30px;
      }
      .ausbildungsleiter, .ausbilder{
          display: inline-block;
          width: 265px;
      }
      .ausbilder{
          float: right;
      }
  
      .screen {
          display: none;
      }
  
      .print {
          display: block;        
      }
      
  
  }

  @font-face {
    font-family: 'SRH Text Regular';
    src: url('../fonts/SRHText_Rg.ttf');
   }
   
   /* Style the tab */
   .tab {
        display: table;
	    margin: auto;
        overflow: hidden;
        background-color: rgb(223,72,7);
  }
  
  /* Style the buttons that are used to open the tab content */
  .tablinks {
    background-color: rgb(223,72,7); /* Komplementärfarbe: rgb(32,183,248) */
    border-width: 2px;
    border-color: rgb(190, 189, 189);
    color: rgb(255, 255, 255);
    padding: 12px 16px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 0 9px #999;
  }
  
  .individuell, .erstellen{
    background-color: darkorange;
  }

  /* Change background color of buttons on hover */
  .tablinks:hover {
    border-color: #ddd;
  }
  
  /* Create an active/current tablink class */
  .tablinks.active {
    border-width: 2px;
  }
  
  /* Style the tab content */
  .tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
  } 
  
  .textbaustein {
    display: inline-flex;
    width: 500px;
    
  }
  
  .textAuswahl{
    display: none;
    margin: 20px 0 20px 0;
   
  }
  
  #customTextIndividuell{
    width: 1000px;
    height: 300px;
  }
  .schriftformat{
      font-family: 'SRH Text Regular';
      /* Komplementärfarbe zum Hintergrund */
      /*color: rgb(32,183,248);*/
      /*color: rgb(255,255,255);*/
      /*color: rgb(0,0,0);*/
  }
  