body {
    background-color:rgb(245, 159, 61);
}

.Tabelle{
	margin:auto;
	display: table;
	padding: 1%;
    height: auto;
	width: 80%;
    border: 2px solid;
}

.Tabelle.color{
	background-color:darkorange;
	border-color:  lightgrey;
}

.Zeile{
	display: table-row;
}

.Zelle{
	display: table-cell;
	padding: 1%;
	width: auto;
}

.autosize {
	width: 100%;

}

a{
    color: black;
    text-decoration: none;
}

#start{
	background-color:orange;
	margin:auto;
	border: 5px solid lightgrey;
    height: 340px;
	width: 1200px;
}

#infos{
	margin:auto;
    height:auto;
	width:80%;
	background-color:white;
}

.button{
    height: 50px;
	width: 20%;
}