body {
    background-color: whitesmoke;
}

.Tabelle{
	display: table;
	padding: 2%;
	margin: auto;
}

.Zeile{
	display: table-row;
}

.Zelle{
	font-family: 'SRH Text Light';
	font-size: 20px;
	display: table-cell;
	padding: 2px 5px;
}

.autosize{
	width: 90%;
	height: 120px;
	margin: 5px 70px;
}

#start{
	margin:auto;
    height: 300px;
	width: 80%;
}

input[type="text"]{
	font-family: 'SRH Text Regular';
	font-size: 14px;
}

input[type="date"]{
	font-family: 'SRH Text Regular';
	font-size: 16px;
}

select{
	font-family: 'SRH Text Regular';
	font-size: 18px;
}



