body {
    background-color:rgb(216, 119, 0);
}

.Tabelle{
	margin:auto;
	display: table;
	padding: 2%;
    height: auto;
	width: 300px;
    border: 2px solid rgba(255, 255, 255, 0.4);
}

.Zeile{
	display: table-row;
}

.Zelle{
	display: table-cell;
	padding:2px;
	width: 100px;
}

.autosize {
	width: 90%;

}

a{
    color: black;
    text-decoration: none;
}
#start{
	margin:auto;
	border: 2px solid rgba(255, 255, 255, 0.4);
    height: 300px;
	width: 600px;
}
#infos{
	margin:auto;
    height:auto;
	width:70%;
	background-color:white;
}

